* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

body {
  background-image: url("hmm.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 30px;
}

.zagolovok {
  width: 400px;
  text-align: center;
  font-size: 45px;
  margin-bottom: 40px;
  background-color: #a48a71;
  border: 5px dotted #59564f;
}

.pasta {
  width: 650px;
  background-color: #aaacabde;
  margin-bottom: 15px;
  text-indent: 30px;
  text-align: justify;
}

.antichrist {
  border: 6px solid #000000;
  width: 150px;
  margin-bottom: 60px;
}

.progi h2 {
  background: linear-gradient(#da11c4, #1348e7);
  width: 250px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.progs {
  background: linear-gradient(
    90deg,
    rgba(236, 12, 80, 1) 1%,
    rgba(183, 20, 207, 1) 55%
  );
}
